---
import Button from "../../common/Button.astro";
import { convertToWebP } from "../../../utils/imageConvert";

const { title, description, image, cta_button } = Astro.props;
---

<div
  class="card flex-shrink-0 lg:w-auto max-w-[547px] max-h-[783px] p-8 lg:p-12 bg-ds-white"
>
  <h3 class="ds-h3 lg:ds-h4 mb-8">{title}</h3>
  {
    image && (
      <div class="h-[309px] overflow-hidden mb-8">
        <img loading="lazy" 
          src={convertToWebP(image.filename)}
          alt={image.alt || title}
          class="w-full h-full object-cover"
        />
      </div>
    )
  }
  <p class="ds-p-2 mb-8">{description}</p>
  {
    cta_button && cta_button.length > 0 && (
      <Button
        text={cta_button[0].text}
        link={cta_button[0].link}
        style={cta_button[0].style}
        background_color={cta_button[0].background_color}
        text_color={cta_button[0].text_color}
      />
    )
  }
</div>

<style>
  .card {
    width: calc(100vw - 32px);
  }
</style>