---
import Button from "../../common/Button.astro";
import { getYouTubeVideoId } from "../../../utils/youtube";

const { title, description, video, cta_button } = Astro.props;

const videoId = video ? getYouTubeVideoId(video) : null;
const isYouTube = !!videoId;
---

<div
  class="card flex-shrink-0 lg:w-auto max-w-[525px] p-8 lg:p-12 bg-ds-white"
>
  {
    video && (
      <div class="w-full h-[200px] lg:h-[259px] overflow-hidden mb-6">
        {isYouTube ? (
          <lite-youtube
            class="!max-w-full"
            videoid={videoId}
            playlabel={`Play: ${title}`}
          ></lite-youtube>
        ) : (
          <iframe
            src={video}
            class="w-full h-full"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            title={title}
          />
        )}
      </div>
    )
  }
  <h3 class="ds-p-1 !font-bold mb-6">{title}</h3>
  <p class="ds-p-2 mb-6">{description}</p>
  {
    cta_button && cta_button.length > 0 && (
      <Button
        text={cta_button[0].text}
        link={cta_button[0].link}
        style={cta_button[0].style}
        background_color={cta_button[0].background_color}
        text_color={cta_button[0].text_color}
      />
    )
  }
</div>

<style>
  .card {
    width: calc(100vw - 32px);
  }
</style>

<script>
  import "lite-youtube-embed/src/lite-yt-embed.js";
  import "lite-youtube-embed/src/lite-yt-embed.css";
</script>
