---
import InfoCard from "./InfoCard.astro";
import arrowLeft from "../../../assets/arrow-left.png";
import arrowRight from "../../../assets/arrow-right.png";
import { Image } from "astro:assets";
import { renderRichText } from "@storyblok/astro";

const { heading, info_cards } = Astro.props;

// Process rich text if needed
const processedCards = info_cards?.map((card) => ({
  ...card,
  description: card.description ? renderRichText(card.description) : "",
}));
---

<section class="pt-xs lg:pt-md">
  <div class="mx-0 lg:mx-10">
    <h2 class="ds-h2 lg:ds-h3 text-center mb-10 lg:mb-20 px-[2rem]">{heading}</h2>

    <div class="swiper infoCardSwiper">
      <div class="swiper-wrapper">
        {
          processedCards?.map((card, index) => (
            <div class={`swiper-slide h-full flex justify-center`}>
              <InfoCard
                image={card.image}
                title={card.title}
                description={card.description}
                link={card.link}
                index={index}
                card_number={processedCards.length}
              />
            </div>
          ))
        }
      </div>

      <div
        class="swiper-button-prev after:text-white after:font-bold after:text-5xl lg:scale-100 scale-50"
      >
        <Image src={arrowLeft} alt="Previous" />
      </div>
      <div
        class="swiper-button-next after:text-white after:font-bold after:text-5xl lg:scale-100 scale-50"
      >
        <Image src={arrowRight} alt="Next" />
      </div>
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  new Swiper(".infoCardSwiper", {
    modules: [Navigation],
    slidesPerView: 1,
    loop: true,
    breakpoints: {
      1280: {
        slidesPerView: 2,
        spaceBetween: -150,
      },
      1536: {
        slidesPerView: 3,
        spaceBetween: -100,
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
</style>
