---
import { Image } from "astro:assets";
import { convertToWebP } from "../../../utils/imageConvert";
import { renderRichText } from "@storyblok/astro";

const { heading, heading_font, mobile_heading_font, logos, logo_height, styling } = Astro.props;

const padding_top = styling?.[0]?.padding_top || "md";
const padding_bottom = styling?.[0]?.padding_bottom || "md";
const mobile_padding_top = styling?.[0]?.mobile_padding_top || "sm";
const mobile_padding_bottom = styling?.[0]?.mobile_padding_bottom || "sm";

const padding_top_class = padding_top ? `lg:pt-${padding_top}` : "";
const padding_bottom_class = padding_bottom ? `lg:pb-${padding_bottom}` : "";
const mobile_padding_top_class = mobile_padding_top
  ? `pt-${mobile_padding_top}`
  : "";
const mobile_padding_bottom_class = mobile_padding_bottom
  ? `pb-${mobile_padding_bottom}`
  : "";
---

<section
  class={`${mobile_padding_top_class} ${mobile_padding_bottom_class} ${padding_top_class} ${padding_bottom_class}`}
>
  <div class="max-w-[1432px] mx-auto px-4">
    <div
      class={`max-w-[1189px] mx-auto text-center mb-12 ${heading_font ? `lg:${heading_font}` : "lg:ds-h4"} ${mobile_heading_font ? `${mobile_heading_font}` : "ds-h2"}`}
      set:html={renderRichText(heading)}
    />

    <div class="flex flex-wrap items-center justify-center gap-8">
      {
        logos?.map((logo) => (
          <div class="flex items-center justify-center">
            <img
              src={convertToWebP(logo.filename)}
              alt={logo.alt || "Partner logo"}
              class={`w-full h-[50px] ${logo_height ? `lg:h-[${logo_height}px]` : "lg:h-[100px]"} object-contain`}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
