---
import { convertToWebP } from "../../../utils/imageConvert";
import Button from "../../common/Button.astro";
import { renderRichText } from "@storyblok/astro";

const {
  title,
  title_large_screen,
  title_font,
  title_color,
  mobile_title_font,
  image,
  is_image_left,
  image_proportion,
  is_image_shifted_down,
  mobile_is_image_full_width,
  mobile_image_proportion,
  mobile_is_image_bottom,
  description,
  description_font,
  description_color,
  mobile_description_font,
  cta_button,
  styling,
  is_content_center,
} = Astro.props;

const content_proportion = 100 - (image_proportion || 30);

const padding_top = styling?.[0]?.padding_top || "";
const padding_bottom = styling?.[0]?.padding_bottom || "";
const padding_left = styling?.[0]?.padding_left || "";
const padding_right = styling?.[0]?.padding_right || "";
const mobile_padding_top = styling?.[0]?.mobile_padding_top || "";
const mobile_padding_bottom = styling?.[0]?.mobile_padding_bottom || "";
const mobile_padding_left = styling?.[0]?.mobile_padding_left || "";
const mobile_padding_right = styling?.[0]?.mobile_padding_right || "";
const max_width = styling?.[0]?.max_width || "";
const max_height = styling?.[0]?.max_height || "";
const shifted_up = styling?.[0]?.shifted_up || "";
const mobile_shifted_up = styling?.[0]?.mobile_shifted_up || "";
const gap = styling?.[0]?.gap || "";

const padding_classes = `
  ${mobile_padding_top ? `pt-${mobile_padding_top}` : "pt-8"}
  ${mobile_padding_bottom ? `pb-${mobile_padding_bottom}` : "pb-16"}
  ${mobile_padding_left ? `pl-${mobile_padding_left}` : ""}
  ${mobile_padding_right ? `pr-${mobile_padding_right}` : ""}
  ${padding_top ? `lg:pt-${padding_top}` : "lg:pt-8 lg:pt-16"}
  ${padding_bottom ? `lg:pb-${padding_bottom}` : "lg:pb-32"}
  ${padding_left ? `lg:pl-${padding_left}` : ""}
  ${padding_right ? `lg:pr-${padding_right}` : ""}
`;

const background_color_class = styling?.[0]?.background_color
  ? `bg-${styling[0].background_color}`
  : "";
const content_proportion_class = content_proportion
  ? `lg:w-[${content_proportion}%]`
  : "lg:w-9/12";
const gap_class = gap ? `gap-8 lg:gap-${gap}` : "gap-8";
const max_width_class = max_width ? `max-w-[${max_width}px]` : "";
const max_height_class = max_height ? `max-h-[${max_height}px]` : "";
const shifted_up_class = shifted_up ? `lg:-mt-${shifted_up}` : "";
const mobile_shifted_up_class = mobile_shifted_up ? `-mt-${mobile_shifted_up}` : "";

// Title
const title_color_class = title_color ? `text-${title_color}` : "text-ds-black";
const title_font_class = title_font ? `${title_font}` : "ds-p-large";
const mobile_title_font_class = mobile_title_font || title_font_class;

// Description
const description_color_class = description_color
  ? `text-${description_color}`
  : "text-ds-black";
const description_font_class = description_font
  ? `${description_font}`
  : "ds-p-large";
const mobile_description_font_class =
  mobile_description_font || description_font_class;

// Image
const image_proportion_class = image_proportion
  ? `lg:w-[${image_proportion}%]`
  : "lg:w-3/12";
const is_image_left_class = is_image_left
  ? "lg:flex-row-reverse"
  : "lg:flex-row";
const mobile_image_proportion_class = mobile_image_proportion
  ? `w-[${mobile_image_proportion}%]`
  : "w-full";
const mobile_order_class = mobile_is_image_bottom
  ? "flex-col"
  : "flex-col-reverse";
const mobile_is_image_full_width_class = mobile_is_image_full_width
  ? "w-[105%] -ml-2"
  : "w-full";
---

<section
  class={`${padding_classes} ${background_color_class} ${shifted_up_class} ${mobile_shifted_up_class}`}
>
  <div class={`mx-auto px-2 sm:px-16 ${max_width_class} ${max_height_class}`}>
    <div
      class={`flex ${mobile_order_class} ${is_content_center ? "items-center" : "items-start"} justify-between ${is_image_left_class} ${gap_class}`}
    >
      {/* Title Content */}
      <div
        class={`w-full ${content_proportion_class} text-center lg:text-left`}
      >
        <div
          class={`${mobile_title_font_class} lg:${title_font_class} ${title_color_class} text-center lg:text-left block lg:hidden`}
          set:html={renderRichText(title)}
        />
        <div
          class={`${title_font_class} ${title_color_class} text-center lg:text-left hidden lg:block`}
          set:html={renderRichText(title_large_screen)}
        />
        <div
          class={`${mobile_description_font_class} lg:${description_font_class} ${description_color_class} text-center lg:text-left block mt-8`}
          set:html={renderRichText(description)}
        />
        {/* CTA Button */}
        {
          cta_button?.[0] && (
            <Button
              class_name="text-center lg:text-left mt-8 lg:mt-16"
              text={cta_button[0].text}
              link={cta_button[0].link}
              style={cta_button[0].style}
              background_color={cta_button[0].background_color}
              text_color={cta_button[0].text_color}
            />
          )
        }
      </div>

      {/* Illustration */}
      <div
        class={`${mobile_is_image_full_width_class} ${image_proportion_class} flex justify-center mt-8 lg:mt-0 ${is_image_shifted_down ? "-mb-[200px]" : ""}`}
      >
        <img
          src={convertToWebP(image.filename)}
          alt={image.alt}
          class={`${mobile_image_proportion_class} lg:w-full h-auto`}
        />
      </div>
    </div>
  </div>
</section>
