---
import { convertToWebP } from "../../../utils/imageConvert";
import AccordionComponent from "./AccordionComponent.astro";
import { Image } from "astro:assets";
import arrowLeft from "../../../assets/arrow-left.png";
import arrowRight from "../../../assets/arrow-right.png";

const {
  title,
  description,
  accordions,
  image,
  image_carousel,
  is_accordion_left = true,
  padding_top = "xs",
  padding_bottom = "xs",
  max_width = "1695",
  accordion_proportion = "60",
} = Astro.props;

const image_proportion = 100 - accordion_proportion;
const paddingTopClass = `pt-${padding_top}`;
const paddingBottomClass = `pb-${padding_bottom}`;
const accordionWidthClass = `w-[${accordion_proportion}%]`;
const maxWidthClass = `max-w-[${max_width}px]`;
const imageWidthClass = `w-[${image_proportion}%]`;
---

<section class={`${paddingTopClass} ${paddingBottomClass}`}>
  <div class={`${maxWidthClass} mx-auto px-4 lg:px-8`}>
    {title && <p class="ds-h3 lg:ds-h4 mb-12 lg:ml-12">{title}</p>}

    <div
      class={`flex flex-col ${is_accordion_left ? "lg:flex-row" : "lg:flex-row-reverse"} gap-4 lg:gap-16`}
    >
      {/* Accordion Side */}
      <div class={`w-full lg:${accordionWidthClass} accordion-side`}>
        {
          accordions.map((accordion) => (
            <AccordionComponent
              title={accordion.title}
              description={accordion.description}
              items={accordion.items}
            />
          ))
        }
      </div>

      {/* Image Side */}
      <div class={`w-full lg:${imageWidthClass} image-container`}>
        {
          image && !image_carousel.length && (
            <div class="aspect-square md:aspect-auto overflow-hidden">
              <img
                src={convertToWebP(image.filename)}
                alt={image.alt || ""}
                class="w-full h-full object-cover dynamic-image"
              />
            </div>
          )
        }

        {
          image_carousel.length ? (
            <div class="aspect-square lg:aspect-auto overflow-hidden lg:-ml-12">
              <div class="swiper imageSwiper h-full hidden lg:block">
                <div class="swiper-wrapper h-full">
                  {image_carousel.map((image) => (
                    <div class="swiper-slide">
                      <img
                        src={convertToWebP(image.filename)}
                        alt={image.alt || ""}
                        class="w-[80%] h-full object-cover dynamic-image mx-auto"
                      />
                    </div>
                  ))}
                </div>
                <div class="swiper-button-prev after:text-black after:font-bold after:text-5xl scale-50 lg:scale-100">
                  <Image src={arrowLeft} alt="Previous" />
                </div>
                <div class="swiper-button-next after:text-black after:font-bold after:text-5xl scale-50 lg:scale-100">
                  <Image src={arrowRight} alt="Next" />
                </div>
              </div>

              <img
                src={convertToWebP(image_carousel[0].filename)}
                alt={image_carousel[0].alt || ""}
                class="w-full h-full object-cover dynamic-image lg:hidden"
              />
            </div>
          ) : null
        }
      </div>
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  // Initialize Swiper
  new Swiper(".imageSwiper", {
    modules: [Navigation],
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  // Image height adjustment function
  function adjustImageHeight() {
    const accordionSections = document.querySelectorAll(".accordion-section");
    console.log(accordionSections);
    const imageContainers = document.querySelectorAll(".image-container");

    accordionSections.forEach((accordionSection, index) => {
      const imageContainer = imageContainers[index];
      if (imageContainer) {
        const image = imageContainer.querySelector(".dynamic-image");
        if (image) {
          const accordionHeight = accordionSection.offsetHeight;
          const newImageHeight = accordionHeight;

          image.style.height = `${newImageHeight}px`;
          image.style.objectFit = "cover";
        }
      }
    });
  }

  // Run on load and resize
  document.addEventListener("DOMContentLoaded", () => {
    adjustImageHeight();
  });
</script>

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
</style>
