---
import { convertToWebP } from "../../../utils/imageConvert";

const { title, description, subtitle, icon_features, styling } = Astro.props;

const background_color_class = styling?.[0]?.background_color
  ? `bg-${styling[0].background_color}`
  : "";
const padding_top_class = styling?.[0]?.padding_top
  ? `lg:pt-${styling[0].padding_top}`
  : "";
const padding_bottom_class = styling?.[0]?.padding_bottom
  ? `lg:pb-${styling[0].padding_bottom}`
  : "";
const mobile_padding_top_class = styling?.[0]?.mobile_padding_top
  ? `pt-${styling[0].mobile_padding_top}`
  : "";
const mobile_padding_bottom_class = styling?.[0]?.mobile_padding_bottom
  ? `pb-${styling[0].mobile_padding_bottom}`
  : "";
const max_width_class = styling?.[0]?.max_width
  ? `max-w-[${styling[0].max_width}px]`
  : "";
---

<section
  class={`${mobile_padding_top_class} ${mobile_padding_bottom_class}
   ${padding_top_class} ${padding_bottom_class} ${background_color_class}`}
>
  <div class={`mx-auto px-2 sm:px-16 ${max_width_class}`}>
    <div class="text-center">
      <p class="ds-h1 mb-16 text-white">{title}</p>
      <p class="ds-p-1 mx-auto mb-10 max-w-3xl text-white mb-16">{description}</p>

      <p class="ds-h4 mb-16 text-white">{subtitle}</p>

      <div class="flex flex-wrap justify-center gap-16">
        {
          icon_features &&
            icon_features.map((feature) => (
              <div class="flex flex-row items-center w-auto">
                <div class="w-auto h-[64px] mb-4 relative">
                  <img
                    src={convertToWebP(feature.image?.filename)}
                    alt={feature.image?.alt || feature.description}
                    class="w-full h-full"
                  />
                </div>
                <a
                  href={feature.link?.url || "#"}
                  class="ds-p-1 text-white underline ml-4"
                >
                  {feature.description}
                </a>
              </div>
            ))
        }
      </div>
    </div>
  </div>
</section>
