---
import { convertToWebP } from "../../../utils/imageConvert";

const {
  icon,
  primary_number,
  primary_description,
  secondary_number,
  secondary_description,
} = Astro.props;
---

<div class="flex flex-row items-center text-ds-white h-[157px]">
  <img loading="lazy" 
    src={convertToWebP(icon.filename)}
    alt={icon.alt || "Stat Icon"}
    class="h-3/4 mr-4 lg:mr-6"
  />
  <div class="flex flex-col max-w-[249px] w-fit">
    <div class="mb-4">
      <p class="ds-h2 lg:ds-h3 !leading-none">{primary_number}</p>
      <p class="ds-p-2 !leading-none">{primary_description}</p>
    </div>
    <div>
      <p class="ds-h2 lg:ds-h3 !leading-none">{secondary_number}</p>
      <p class="ds-p-2 !leading-none">{secondary_description}</p>
    </div>
  </div>
</div>
