---
import TestimonialSection01 from "../testimonial-section-01/TestimonialSection01.astro";

const { testimonials, styling } = Astro.props;

import arrowLeft from "../../../assets/arrow-left.png";
import arrowRight from "../../../assets/arrow-right.png";
import { Image } from "astro:assets";

// Extract styling properties
const padding_top = styling?.[0]?.padding_top || "";
const padding_bottom = styling?.[0]?.padding_bottom || "";
const padding_left = styling?.[0]?.padding_left || "";
const padding_right = styling?.[0]?.padding_right || "";
const mobile_padding_top = styling?.[0]?.mobile_padding_top || "";
const mobile_padding_bottom = styling?.[0]?.mobile_padding_bottom || "";
const mobile_padding_left = styling?.[0]?.mobile_padding_left || "";
const mobile_padding_right = styling?.[0]?.mobile_padding_right || "";

// Create CSS classes
const padding_classes = `
  ${mobile_padding_top ? `pt-${mobile_padding_top}` : ""}
  ${mobile_padding_bottom ? `pb-${mobile_padding_bottom}` : ""}
  ${mobile_padding_left ? `pl-${mobile_padding_left}` : ""}
  ${mobile_padding_right ? `pr-${mobile_padding_right}` : ""}
  ${padding_top ? `lg:pt-${padding_top}` : ""}
  ${padding_bottom ? `lg:pb-${padding_bottom}` : ""}
  ${padding_left ? `lg:pl-${padding_left}` : ""}
  ${padding_right ? `lg:pr-${padding_right}` : ""}
`;
---

<div class={`h-full ${padding_classes}`}>
  <div class="swiper testimonialSwiper h-full">
    <div class="swiper-wrapper h-full">
      {
        testimonials?.map((testimonial) => (
          <div class="swiper-slide h-full px-0">
            <TestimonialSection01 {...testimonial} />
          </div>
        ))
      }
    </div>
    <div
      class="swiper-button-prev ml-0 lg:ml-10 after:text-black after:font-bold after:text-5xl scale-50 lg:scale-100"
    >
      <Image src={arrowLeft} alt="Previous" />
    </div>
    <div
      class="swiper-button-next mr-0 lg:mr-10 after:text-black after:font-bold after:text-5xl scale-50 lg:scale-100"
    >
      <Image src={arrowRight} alt="Next" />
    </div>
  </div>
</div>

<script>
  import { Swiper } from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  new Swiper(".testimonialSwiper", {
    modules: [Navigation],
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
</style>
