---
import { renderRichText } from "@storyblok/astro";
const { number, background_color, step_label, step_heading, step_description } =
  Astro.props;

const textClass =
  background_color === "ds-white" ? "text-ds-blue-900" : "text-ds-white";

const renderedHeading = renderRichText(step_heading);
---

<div
  class={`bg-${background_color} flex flex-row p-8 md:p-12 ${background_color === "ds-white" || number == 1 ? "xl:ml-12" : ""} 
    ${number == 4 ? "mt-6 lg:mt-0" : ""} `}
>
  <div class="flex justify-center mr-4 md:mr-8">
    <span class="inline-block ds-number-large text-ds-red-500 min-w-[51.688px]"
      >{number}</span
    >
  </div>

  <div class="flex flex-col">
    <div class="md:mb-4">
      <span class={`ds-p-1 !font-semibold ${textClass}`}>{step_label}</span>
    </div>

    <h3
      class={`ds-hl2 ${textClass} mb-4 md:mb-6 leading-[1]`}
      set:html={renderedHeading}
    />

    <p class={`ds-p-2 ${textClass} max-w-[90%]`}>
      {step_description}
    </p>
  </div>
</div>
