---
import Button from "../../common/Button.astro";
import { convertToWebP } from "../../../utils/imageConvert";

const { title, description, image, mobile_image, cta_button, styling, id } =
  Astro.props;

const padding_top = styling?.[0]?.padding_top || "xs";
const padding_bottom = styling?.[0]?.padding_bottom || "xs";
const padding_left = styling?.[0]?.padding_left || "xs";
const padding_right = styling?.[0]?.padding_right || "xs";
const mobile_padding_top = styling?.[0]?.mobile_padding_top || "xs";
const mobile_padding_bottom = styling?.[0]?.mobile_padding_bottom || "xs";
const mobile_padding_left = styling?.[0]?.mobile_padding_left || "xs";
const mobile_padding_right = styling?.[0]?.mobile_padding_right || "xs";

const padding_top_class = `lg:pt-${padding_top}`;
const padding_bottom_class = `lg:pb-${padding_bottom}`;
const padding_left_class = `lg:pl-${padding_left}`;
const padding_right_class = `lg:pr-${padding_right}`;
const mobile_padding_top_class = `pt-${mobile_padding_top}`;
const mobile_padding_bottom_class = `pb-${mobile_padding_bottom}`;
const mobile_padding_left_class = `pl-${mobile_padding_left}`;
const mobile_padding_right_class = `pr-${mobile_padding_right}`;

const max_width_class = `max-w-[${styling?.[0]?.max_width}px]` || "";
---

<section
  id={id}
  class={`relative ${padding_top_class} ${padding_bottom_class} 
  ${padding_left_class} ${padding_right_class} ${mobile_padding_top_class} 
  ${mobile_padding_bottom_class} ${mobile_padding_left_class} ${mobile_padding_right_class}`}
>
  <div class={`mx-auto ${max_width_class}`}>
    <div class="flex flex-col xl:flex-row items-center">
      {/* Content */}
      <div class="w-full xl:w-[60%] text-center lg:text-left z-10">
        <h2 class="ds-h1 !font-bold mb-8 lg:mb-12 uppercase">{title}</h2>
        <p class="ds-p-2 md:ds-p-1 mb-8 lg:mb-12">
          {description}
        </p>

        <div class="flex justify-center xl:justify-start mb-8 lg:mb-12">
          {
            cta_button?.[0] && (
              <Button
                text={cta_button[0].text}
                link={cta_button[0].link}
                style={cta_button[0].style}
                background_color={cta_button[0].background_color}
                text_color={cta_button[0].text_color}
              />
            )
          }
        </div>
      </div>

      {/* Image */}
      <div
        class="w-full h-[100%] sm:w-[70%] xl:absolute
        xl:w-[47%] xl:right-[3.75rem] xl:top-[4rem]
        2xl:w-[42%] 2xl:right-[8.75rem] 2xl:top-[1rem]"
      >
        <div class="relative w-full h-full hidden xl:block z-20">
          <img
            src={convertToWebP(image.filename)}
            alt={image.alt || ""}
            class="w-full h-auto object-contain"
          />
        </div>
        <div class="relative w-full h-full xl:hidden z-20">
          <img
            src={convertToWebP(mobile_image.filename)}
            alt={mobile_image.alt || ""}
            class="w-full h-auto object-contain"
          />
        </div>
      </div>
    </div>
  </div>
</section>
