---
import { renderRichText } from "@storyblok/astro";

const { stat_1_percentage, stat_1_text, stat_2_percentage, stat_2_text } =
  Astro.props;

// Remove % symbol and convert to numbers
const percent1 = parseInt(stat_1_percentage.replace("%", ""));
const percent2 = parseInt(stat_2_percentage.replace("%", ""));
---

<div class="bg-ds-teal-500 max-w-[503px] min-h-[429px] h-full p-8 flex flex-col justify-around">
  <div class="mb-8 flex flex-row">
    <div class="flex items-center gap-8 mb-4 mr-8">
      <div class="w-[22px] min-h-[140px] h-full bg-ds-blue-900 relative">
        <div
          class="absolute inset-0 bg-ds-white"
          style={`height: ${percent1}%`}
        >
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start">
      <span class="ds-h2 md:ds-number text-ds-white mb-4">{stat_1_percentage}</span>
      <div class="ds-p-2 text-ds-white text-left" set:html={renderRichText(stat_1_text)} />
    </div>
  </div>

  <div class="flex flex-row">
    <div class="flex items-center gap-8 mb-4 mr-8">
      <div class="w-[22px] min-h-[140px] h-full bg-ds-blue-900 relative">
        <div
          class="absolute inset-0 bg-ds-white"
          style={`height: ${percent2}%`}
        >
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start">
      <span class="ds-h2 md:ds-number text-ds-white mb-4">{stat_2_percentage}</span>
      <div class="ds-p-2 text-ds-white text-left" set:html={renderRichText(stat_2_text)} />
    </div>
  </div>
</div>
