---
import { getYouTubeVideoId } from "../../../utils/youtube";
import Button from "../../common/Button.astro";

const { title, video_link, thumbnail_image, cta_button, styling } = Astro.props;

const videoId = getYouTubeVideoId(video_link.url);

const padding_top = styling?.[0]?.padding_top || "";
const padding_bottom = styling?.[0]?.padding_bottom || "";
const padding_left = styling?.[0]?.padding_left || "";
const padding_right = styling?.[0]?.padding_right || "";
const mobile_padding_top = styling?.[0]?.mobile_padding_top || "";
const mobile_padding_bottom = styling?.[0]?.mobile_padding_bottom || "";
const mobile_padding_left = styling?.[0]?.mobile_padding_left || "";
const mobile_padding_right = styling?.[0]?.mobile_padding_right || "";
const max_width = styling?.[0]?.max_width || "";
const background_color = styling?.[0]?.background_color || "";

const padding_classes = `
  pt-${mobile_padding_top} pb-${mobile_padding_bottom}
  pl-${mobile_padding_left} pr-${mobile_padding_right}
  lg:pt-${padding_top} lg:pb-${padding_bottom}
  lg:pl-${padding_left} lg:pr-${padding_right}
`;

const max_width_class = max_width ? `max-w-[${max_width}px]` : "";
const background_color_class = background_color ? `bg-${background_color}` : "";
const thumbnail_image_url = thumbnail_image?.filename ? thumbnail_image.filename : "https://i.ytimg.com/vi/" + videoId + "/hqdefault.jpg";
---

<section class={`${padding_classes} ${background_color_class}`}>
  <div class={`${max_width_class} mx-auto px-4`}>
    {
      title && (
        <p class="text-center ds-h3 mb-16 lg:mb-24">{title}</p>
      )
    }
    <div class="max-w-[1520px] mx-auto">
      {/* Video Container */}
      <div class="relative">
        <lite-youtube
          class="!max-w-full"
          videoid={videoId}
          playlabel={`Play: YouTube Video`}
          
          style={`background-image: url('${thumbnail_image_url}');`}
        ></lite-youtube>
      </div>

      {/* CTA Button */}
      {
        cta_button?.[0] && (
          <div class="text-center mt-16">
            <Button
              text={cta_button[0].text}
              link={cta_button[0].link}
              style={cta_button[0].style}
              background_color={cta_button[0].background_color}
              text_color={cta_button[0].text_color}
            />
          </div>
        )
      }
    </div>
  </div>
</section>

<script>
  import "lite-youtube-embed/src/lite-yt-embed.js";
  import "lite-youtube-embed/src/lite-yt-embed.css";
</script>
