---
import StatisticsCard from "./StatisticsCard.astro";
import EmptyCard from "./EmptyCard.astro";

const { title, description, statistics_card } = Astro.props;
---

<section class="pb-md relative -mb-[230px] lg:-mb-[145px] lg:max-h-full">
  <div class="max-w-[1583px] mx-auto px-2 lg:px-4">
    <div class="flex flex-col lg:flex-row items-center">
      {/* Desktop Layout */}
      <div class="hidden lg:grid lg:w-2/3 grid-cols-3 gap-2 lg:gap-4 max-w-fit">
        <div class="grid gap-4 mt-20">
          <StatisticsCard card={statistics_card[0]} />
          <EmptyCard />
        </div>
        <div class="grid gap-4 mb-12">
          <StatisticsCard card={statistics_card[1]} />
          <StatisticsCard card={statistics_card[2]} />
        </div>
        <div class="grid gap-4 mt-20">
          <EmptyCard />
          <EmptyCard />
        </div>
      </div>

      {/* Header */}
      <div
        class="w-full lg:w-1/2 bg-ds-white px-2 py-4 lg:px-8 lg:py-8 lg:absolute lg:right-4 2xl:right-[7rem] lg:-ml-12 lg:z-10"
      >
        <h2 class="ds-p-title !leading-1 mb-4 !font-bold">{title}</h2>
        <p class="ds-p-2">{description}</p>
      </div>

      {/* Mobile Layout */}
      <div class="grid lg:hidden grid-cols-3 gap-2 lg:gap-4 max-w-fit">
        <div class="grid gap-4 mt-8 lg:mt-20">
          <StatisticsCard card={statistics_card[0]} />
          <EmptyCard />
        </div>
        <div class="grid gap-4 mb-8 lg:mb-12">
          <StatisticsCard card={statistics_card[1]} />
          <EmptyCard />
        </div>
        <div class="grid gap-4 mt-8 lg:mt-20">
          <StatisticsCard card={statistics_card[2]} />
          <EmptyCard />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .ds-p-title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 36px;
    line-height: auto;
    font-weight: 500;
  }
</style>
