---
const {
  class_name,
  text,
  link,
  style = "primary",
  text_color,
  background_color,
} = Astro.props;

const buttonClasses = {
  primary: `bg-${background_color} text-${text_color}`,
  secondary: `border-2 border-${background_color} text-${text_color} hover:bg-${background_color}/5`,
};

const buttonStyle = buttonClasses[style] || buttonClasses.primary;
---

<a
  href={link.url}
  class:list={[
    "text-center md:px-[2rem] md:py-[0.8rem] ds-button inline-block rounded-full hover:opacity-90",
    buttonStyle,
    "px-5 py-4",
    class_name,
  ]}
>
  {text}
</a>
