---
const {
  class_name,
  text,
  link,
  style = "primary",
  text_color,
  background_color,
  type,
  is_button_full_width_desktop = false,
  is_button_full_width_mobile = false,
  is_open_newtab = false,
} = Astro.props;

const buttonClasses = {
  primary: `bg-${background_color} text-${text_color}`,
  secondary: `border-2 border-${background_color} text-${text_color} hover:bg-${background_color}/5`,
};

const buttonStyle = buttonClasses[style] || buttonClasses.primary;
const commonClasses = [
  "text-center md:px-[2rem] md:py-[0.8rem] ds-button inline-block rounded-full hover:opacity-90 px-[15px] py-[10px] cursor-pointer",
  buttonStyle,
  is_button_full_width_mobile ? "w-full lg:w-auto" : "w-auto",
  is_button_full_width_desktop ? "lg:w-full" : "",
  class_name,
];
---

{
  type ? (
    <button
      type={type}
      class:list={commonClasses}
    >
      {text}
    </button>
  ) : (
    <a
      href={link.url}
      target={is_open_newtab ? "_blank" : "_self"}
      class:list={commonClasses}
    >
      {text}
    </a>
  )
}
