---
import Button from "../../common/Button.astro";
import { convertToWebP } from "../../../utils/imageConvert";

const { title, background_image, cta_button } = Astro.props;
---

<section class="md:px-0 pb-32 relative overflow-hidden">
  <div class="px-4 flex flex-row items-center">
    {/* Content */}
    <div class="w-full 2xl:w-[70%] z-20 xl:pl-16 sm:pt-16 2xl:pl-32 2xl:pt-32 flex flex-col justify-center">
      <h1 class="ds-h1 padded-multiline mx-auto my-5 !mb-32">
        <span>
          {title}
        </span>
      </h1>
      <div class="hidden lg:block">
        {
          cta_button?.[0] && (
            <Button
              text={cta_button[0].text}
              link={cta_button[0].link}
              style={cta_button[0].style}
              background_color={cta_button[0].background_color}
              text_color={cta_button[0].text_color}
            />
          )
        }
      </div>
    </div>

    {/* Image */}
    <div class="w-full xl:w-[50%] absolute inset-y-0 right-0 flex justify-end items-center md:items-start pl-4">
      <img
        src={convertToWebP(background_image.filename)}
        alt={background_image.alt}
        class="w-[60%] h-[55%] xs:h-[60%] sm:h-[100%] mt-[10%] xs:m-0 xl:w-full xl:h-full object-cover xl:object-contain object-right"
      />
    </div>
  </div>
</section>

<style>
  .padded-multiline {
    line-height: 1.4;
    padding: 2px 0;
  }
  .padded-multiline span {
    background-color: white;
    color: var(--ds-black);
    display: inline;
    padding: 0.45rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
</style>
